body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('https://images.unsplash.com/photo-1558056195-2e83b8e1338a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

header {
  background-color: #0f0400;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

#location-form {
  background-color: rgba(0, 0, 0, 0.7); 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #471c00;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #702700;
}

#dashboard {
  display: flex; 
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

#today-data,
#tomorrow-data {
  width: 48%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#error-message {
  background-color: rgba(192, 57, 43, 0.7);
  padding: 10px;
  border-radius: 5px;
}